@model IEnumerable<Artwork>;
@using System.Security.Claims;

<div class="myprofile-container">

    <div class="username-holder">
        <h1> pumpkinpie</h1>

    </div>
    <div class="dp-container-holder">
        <img src="/testImages/F8Iar6bawAA6ivB.jpg" alt="ArtistWhoCries" />

    </div>
    <div class="form-group" id="my-profile-uploadProfile">
        <label for="profilePicture"></label>
        <input type="file" name="profilePicture" id="profilePicture" />
    </div>
    <div class="button-container">
        <button type="submit" class="btn btn-primary" id="upload-button">Upload</button>

    </div>

    <div class="userdescription-container">
        <p>Bio</p>
        <div class="user-bio-holder">
            <div id="textContainer">
                <div class="textRow" contenteditable="true"></div>
            </div>
        </div>
    </div>

    <div class="user-art-container">
        <h1>Artworks</h1>
        @foreach (var Artwork in Model)
        {
            <div class="col">
                <div class="card">
                   
                    @if(Artwork.artImg !=null && Artwork.artImg.Length > 0)
                    {
                        <div>
                            <img src="data:img;base64, @Convert.ToBase64String(Artwork.artImg)" alt="Artwork Image" class="card-img-top">


                        </div>
                    } else
                    {
                        <img src="https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png" alt="Artwork Image" class="card-img-top">
                    }
                 
                    <div class="card-body">
                        <h2>@Artwork.artTitle</h2>
                        <span>Viewable By: @Artwork.artRating</span>
                        <p>@Artwork.artTags</p>
                        <p>@Artwork.artCaption</p>
                    </div>

                   
                        <!-- Add the delete button -->
                  
                    <form method="post" action="@Url.Action("DeleteArtwork", "Artwork")">
                        <input type="hidden" name="artworkId" value="@Artwork.artId" />
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>

                    <a asp-action="UpdateArtwork" asp-controller="Artwork" asp-route-Id="@Artwork.artId" class="book-a-table-btn scrollto my-4"> <button type="submit" class="btn btn-danger">Edit</button></a>

                    <!-- Add the edit button -->
                    
                </div>
                
                </div> 
        }
     
       
    </div>

</div>
